[Unit]
Description=ClimateServ
ConditionPathExists=/dev/ttyUSB0
After=network.target

[Service]
Type=simple
User=climateserv
Group=dialout
LimitNOFILE=1024

ExecStart=/usr/local/bin/climateserv -i 10 -d /dev/ttyUSB0 -p 2510 -i 10
Restart=on-failure
RestartSec=10
StartLimitInterval=60

PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=climateserv

[Install]
WantedBy=multi-user.target
