[Unit]
Description=SDS sensor reader service
ConditionPathExists=/dev/ttyUSB0
After=network.target

[Service]
Type=simple
User=silence
Group=dialout
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
StartLimitInterval=60

WorkingDirectory=/home/silence/sds_reader/service
ExecStart=/home/silence/sds_reader/sds_reader -i 10 -d /dev/ttyUSB0 -p 2510 -i 10

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sds_reader

[Install]
WantedBy=multi-user.target